ac-comphist.dat
semanticdb
auto-save-list
package.el.old
srecode-map.el
elpa
ensime/
eshell/
project-explorer-cache/
projectile-bookmarks.eld
projectile.cache
tramp
ede-projects.el
sbt-launcher
launchers
*.swp
/SessionDesktop.el
