.mc-lists.el
recentf
ac-comphist.dat
semanticdb
auto-save-list
package.el.old
srecode-map.el
elpa
eshell/
project-explorer-cache/
projectile-bookmarks.eld
projectile.cache
tramp
forge-database.sqlite
helm-curl.log
ede-projects.el
/SessionDesktop.el

straight/build-cache.el
straight/build
straight/repos

ensime/
sbt-launcher
launchers
*.swp
*~
.lsp-session-*
.metals
.vscode

build.sbt
idea.sbt
1.0/
0.13/

preloaded
network-security.data

.cache
transient
bookmarks
.dap-breakpoints
.DS_Store

emojis/
project/
request/
*.persp
target/
url/