.mc-lists.el
recentf
ac-comphist.dat
semanticdb
auto-save-list
package.el.old
srecode-map.el
elpa
eshell/
project-explorer-cache/
projectile-bookmarks.eld
projectile.cache
tramp
forge-database.sqlite
helm-curl.log
ede-projects.el
/SessionDesktop.el

straight/build-cache.el
straight/build
straight/repos

ensime/
sbt-launcher
launchers
*.swp
*~
workspace
.lsp
.lsp-session-*
.metals
.vscode
*.nrepl-port
.clj-kondo

build.sbt
idea.sbt
1.0/
0.13/

preloaded
network-security.data

.extension
.cpcache
.cache
transient
bookmarks
.dap-breakpoints
.DS_Store

emojis/
project/
request/
*.persp
target/
url/
/.emacs.desktop
perspectives.save
var
/eclipse.jdt.ls/
/*.lock
*#

*.build-step
*.ssh
*.local-env-ok

.settings
.classpath
.project

dev-o-matic/interactive-image/docker/build/_user

PIM/insideout/bin
PIM/insideout/lib*

