loc_name=Wheaton, DuPage County
lat=41.864696
lon=-88.110171
msl=230
timezone=America/Chicago
offset=-05:00
cache_file_max_age=172800
power_saving=true
units_temperature=1
units_pressure=1
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=0
round=true
single_row=false
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/simplistic
show_scrollbox=true
scrollbox_lines=4
scrollbox_font=Sans 8
scrollbox_color=rgb(0,0,0)
scrollbox_use_color=false
label0=3
label1=11
label2=5
label3=7

