[Desktop Entry]
Version=1.0
Type=Application
Name=Freeplane
Comment=
Exec=/home/ubuntu/bin/freeplane-current/freeplane.sh
Icon=/home/ubuntu/bin/freeplane.svg
Path=/home/ubuntu
Terminal=false
StartupNotify=false
