[Desktop Entry]
Version=1.0
Type=Application
Name=FreePlane
Comment=Mind map
Exec=fplane
Icon=/home/ubuntu/bin/freeplane/freeplane.svg
Path=
Terminal=false
StartupNotify=true
