favorites=exo-web-browser.desktop,exo-file-manager.desktop,org.keepassxc.KeePassXC.desktop,google-chrome.desktop,code.desktop,notable.desktop,exo-terminal-emulator.desktop,synaptic.desktop
recent=org.keepassxc.KeePassXC.desktop,google-chrome.desktop,exo-terminal-emulator.desktop,notable.desktop,code.desktop,exo-web-browser.desktop,synaptic.desktop,jetbrains-idea.desktop,xfce-mouse-settings.desktop,inkscape.desktop,exo-preferred-applications.desktop,xscreensaver-properties.desktop,emacs25.desktop,panel-preferences.desktop,xfce-display-settings.desktop
button-title=Applications Menu
button-icon=/home/ubuntu/Pictures/Rally_Arrow_R_Orange_Lg_RGB.svg
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=3
load-hierarchy=true
recent-items-max=15
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=true
menu-width=809
menu-height=859
menu-opacity=80
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=7

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Web Search
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action3]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action4]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

[action5]
name=Github Search
pattern=?g
command=exo-open --launch WebBrowser https://github.com/search?q=%u
regex=false

[action6]
name=Github author/org
pattern=!g
command=exo-open --launch WebBrowser https://github.com/%u
regex=false

