[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/djo/Desktop/2020-eng-goals.png]
row=5
col=0

[/home/djo/Desktop/code.desktop]
row=3
col=0

[F0E47290E4725934]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/djo]
row=2
col=0

