[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[de0277a6-9a1a-47c7-991a-f48de3715d93]
row=3
col=0

[7E18FC7B18FC342D]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/djo]
row=2
col=0

