[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/djo/Desktop/brave-ikpmlgdcejalmjnfbahhijemkcgljabf-Default.desktop]
row=0
col=1

[3e60c483-0993-49fe-ab9c-0b7dfba3d31e]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/djo]
row=2
col=0

