[Desktop Entry]
Version=1.0
Type=Application
Name=Intellij
Comment=Intellij Idea
Exec=/home/ubuntu/bin/idea/bin/idea.sh
Icon=/home/ubuntu/bin/idea/bin/idea.svg
Path=
Terminal=false
StartupNotify=false
